
.output-bttn{
    margin-left: 43%;
    margin-right: 30%;
    border: none;
    text-align: center;
    margin-top: -19px;
    margin-bottom: 4px;
}
.col{
  font-size: 12px;
}
.list{
  font-size: 14px ;
}